#main, #root, #graph-vis{
  height: 100vh;
  width: 100vw;
}

body{
  overflow:hidden;
}

#other-vis{
  position: absolute;
  top: 10px;
  width:max-content;
  right: 0%;
  padding: 10px;
  margin: auto;
  display: inline-block;
}