#main, #root, #graph-vis{
  height: 100vh;
  width: 100vw;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
  overflow:hidden;
}

#other-vis{
  position: absolute;
  top: 10px;
  width:max-content;
  right: 0%;
  padding: 10px;
  margin: auto;
  display: inline-block;
}